
a:link {
    color: lime;
    text-decoration:none;
    
}

.pic
{
height:100px; 
width:100px;
margin-top:10%;
margin-left:center;
border-radius:50%;

}

.abhi

{
text-align:center;
height:100%;
width:100%;
background-image:url(9.jpg);
background-size:100% auto;
background-repeat:no-repeat;
}

.details
{

font-family: "Courier";
font-size: 20px;
text-align:center;
color: lime;
position:absolute;
top:50%; 
left:50%;
margin-top:-14em;
margin-left:-16em;
}

	
