
a:link {
    color: lime;
    text-decoration:none;
    
}

.pic
{
height:100px; 
width:100px;
border-radius:50%;

}

.abhi

{
text-align:center;
height:100%;
width:100%;
background:black;
background:linear-gradient(to left,black,#2f4f4f);
background:-moz-linear-gradient(left,black,#2f4f4f);
background-size:100% auto;
}

.details
{

font-family: "Courier";
font-size: 23px;
text-align:center;
color: lime;
position:absolute;
top:calc(50vh); 
left:calc(50vw);
margin-top:-9em;
margin-left:-18em;
}
.skills
{
	font-family:"Courier";
	color:lime;
	position:absolute;
	top:calc(80vh);
	left:calc(40vw);
}
	
